h1
{
    font-family: arial, verdana, sans-serif;
    color: black;
}

body
{
    background-color: cornsilk;
    margin: 0;
}

.blocker
{
    color: cornsilk;
}

.textPilihan
{
	border-color: cornsilk;
    border-style: solid;
    border-radius: 20px;
	text-decoration: none;
	font-size: 200%;
	font-family: arial, verdana, sans-serif;
	color: seagreen;
	transition: 1s ease all;
}

.textPilihan:hover
{
	border-color: black;
	background-color: rgb(255, 219, 75);
}

.gambar
{
	transition: .5s ease all;
}

.gambar:hover
{
	box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2), 0 0px 40px 0 rgba(0, 0, 0, 0.3);
	text-align: center;
}

.pilihanBackground
{
	width: 70%;
	background-size: cover;
	background-color: cornsilk;
}

.arduino
{
    background-size: cover;
    background-color: lightsalmon;
}