body
{
	background-color: darksalmon;
	margin: 0;
}

.isian
{
	background-color: cornsilk;
}


.pilihanBackground
{
	width: 70%;
	background-size: cover;
	background-color: cornsilk;
}

.blocker
{
	color: cornsilk;
}

.textPilihan
{
	border-color: cornsilk;
    border-style: solid;
    border-radius: 20px;
	text-decoration: none;
	font-size: 200%;
	font-family: arial, verdana, sans-serif;
	color: seagreen;
	transition: 1s ease all;
}

.textPilihan:hover
{
	border-color: black;
	background-color: rgb(255, 219, 75);
}

.hehe
{
	font-family: Arial, Verdana, sans-serif;
	color: burlywood;
}

.text
{
	font-family: Arial, Verdana, sans-serif;
	font-size: x-large;
	color: ivory;
	position: absolute;
	left: 50px;
	top: 110px;
}

.releasedGames
{
	background-size: cover;
	background-color: khaki;
	height: 500px;
}

.releasedGamesText
{
	font-family: Arial, Verdana, sans-serif;
	color: gray;
}

.betaGames
{
	background-size: cover;
	background-color: salmon;
	height: 500px;
}

.betaGamesText
{
	font-family: Arial, Verdana, sans-serif;
	color: gray;
}

.comingSoonText
{
	font-family: Arial, Verdana, sans-serif;
	color: red;
}

.Warning
{
	font-family: arial, verdana, sans-serif;
	font-size: 300%;
	color: red;
	align-self: center;
}

.Jelly
{
	width: 300px;
	height: 300px;
	border-radius: 230px;
	background-size: cover;
	background-image: url(Icon.png);
	background-color: black;
	position: absolute;
	left: 30px;
	top: 20%;
	transition: .5s ease all;
}

.Jelly:hover
{
	box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2), 0 0px 40px 0 rgba(0, 0, 0, 0.3);
	text-align: center;
}

.emoji
{
	text-decoration: none;
	font-size: 48px;
	transition: 2s ease all;
}

.emoji:hover
{
	font-size: 60px;
}

.button:hover
{
	width: 60px;
}

.button
{
	transition: 2s ease all;
}