body
{
    margin: 0;
    background-color: cornsilk;
}

.pilihanBackground
{
	width: 70%;
	background-size: cover;
	background-color: cornsilk;
}

.textPilihan
{
    border-color: cornsilk;
    border-style: solid;
    border-radius: 20px;
	text-decoration: none;
	font-size: 200%;
	font-family: arial, verdana, sans-serif;
	color: seagreen;
	transition: 1s ease all;
}

.blocker
{
    color: cornsilk;
}

.textPilihan:hover
{
    border-color: black;
	background-color: rgb(255, 219, 75);
}

.email
{
    text-decoration: none;
    position: absolute;
    top: 150px;
    left: 80%;
    width: 10%;
    font-size: 300%;
}

.facebook
{
    position: absolute;
    top: 150px;
    left: 60%;
    width: 10%;
    background-size: cover;
    background-color: black;
    border-radius: 100px;
}

.youtube
{ 
    position: absolute;
    top: 150px;
    left: 40%;
    width: 10%;
    background-size: cover;
    background-color: black;
    border-radius: 100px;
}

.itchIo
{
    position: absolute;
    top: 150px;
    left: 20%;
    width: 10%;
    background-size: cover;
    background-color: black;
    border-radius: 100px;
}