#bodyAndroid
{
    margin: 0px;
    background-image: url(heart.gif);
    background-repeat: no-repeat;
}

#bodyPC
{
    margin: 0px;
    background-image: url(heart3.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

#selamat
{
    font-family: "Kunstler Script";
    font-size: 40pt;
    position: absolute;
}

@font-face {
    font-family: "Kunstler Script";
    src: url("KUNSTLER.woff");
}

#imgAndroid
{
    position: absolute;
    top: 304px;
    left: 93px;
}

#imgPC
{
    position: absolute;
    top: 304px;
    left: 93px;
}